* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
padding: 0px;
  margin: 0px;
}

.container{
top: 100px;
}

#app{
  position: relative;
  border: 0px
  padding: 0px;
  top: 100px;

}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: lightgray;
  width: 100%;
  position: fixed;
}

.a{
display: inline-block;
}

.actions {
    margin-bottom: 20px;
    margin-top: 40px;
}

.table {
  border: 2px solid #555;
  border-collapse: collapse;
  font: 16px "Lucida Grande", "Helvetica", "Arial", sans-serif;
}

.table thead {
    border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    background-color: lightgray;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer{
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: lightgray;
    width: 100%;
    position: fixed;
}