* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

.a{
display: inline-block;
}

.actions {
    margin-bottom: 20px;
    margin-top: 20px;
}

.table {
  border: 2px solid #555;
  border-collapse: collapse;
  font: 16px "Lucida Grande", "Helvetica", "Arial", sans-serif;
}

.table thead {
    border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    background-color: lightgray;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}